---
import AnimatedButton from '@/components/AnimatedButton.astro'
import BlogCard from '@/components/BlogCard.astro'
import ExperienceTimeline from '@/components/ExperienceTimeline.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import { buttonVariants } from '@/components/ui/button'
import { ME, SITE, SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import {
  getAllExperiences,
  getFeaturedProjects,
  getRecentPosts,
} from '@/lib/data-utils'
import { Image } from 'astro:assets'
import profileImage from '/public/static/common/profile.png'
const blog = await getRecentPosts(SITE.featuredPostCount)
const projects = await getFeaturedProjects(SITE.featuredProjectCount)
const experiences = await getAllExperiences()
const cvPath = '/static/common/sedhumadhav-cv.pdf'
---

<!-- OUTLINE (basically a page for HRs, visitors, and everbody)
  - Hero Section
    - ✅ Image
    - ✅ Name, Some (unique) abt me text.
    - ✅ Read more button to /about 
    - ✅ Download CV button
    - ✅ Some social links
  - Experience
  - Skills (idea : what i bring to the table) [Rejected : https://www.reddit.com/r/webdev/comments/1bvfxwq/regarding_developer_portfolio_websites_what_is/] 
  - Pinned Projects (& button to see all projects) 
  - Latest Posts (& button to see all posts)
  - Some credits to astro-erudite template
-->
<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <!-- Hero Section -->
  <section class="bg-grid-pattern">
    <div
      class="flex flex-col items-center gap-6 p-6 md:flex-row md:items-start"
    >
      <div class="flex flex-1 flex-col items-center space-y-1.5 md:items-start">
        <h3
          class="text-accent font-mudstone-sans text-center text-8xl leading-none font-extrabold md:text-left md:text-9xl"
        >
          SUDAR
          <br />
          <span class="-mt-2 block text-7xl md:text-8xl">BLOGGER.</span>
        </h3>
        <p
          class="text-muted-foreground text-l mt-2 text-center font-serif md:text-left"
        >
          Vlogger <span class="text-xs">✦</span> Creator
        </p>
      </div>
      <div
        id="profile-image-container"
        class="group relative rotate-2 shadow-lg transition-transform duration-300 hover:scale-105 hover:rotate-3"
      >
        <Image
          src={profileImage}
          alt="Sedhu Madhav"
          class="group-hover:shadow-foreground/15 relative block h-auto w-48 transition-shadow duration-300 group-hover:shadow-xl"
        />
        <p
          class="font-caveat text-foreground dark:text-background absolute -bottom-[-.75rem] left-1/2 -translate-x-1/2 text-sm whitespace-nowrap"
        >
          yeah thats me :)
        </p>
      </div>
    </div>
    <div class="px-6">
      <p class="text-l text-muted-foreground mb-2 font-serif">
        <span class="text-foreground">{ME.age}</span> year old <span
          class="text-foreground">👨🏻‍💻 Content Creator</span
        > based in 📌
        <Link
          href="https://www.google.com/maps/place/Coimbatore,+Tamil+Nadu"
          class="text-foreground"
          external
          underline>Jawa Timur, Indonesia</Link
        >. 1+ years at <Link
          href="https://www.zoho.com"
          class="text-foreground"
          external
          underline>Zoho</Link
        >, scaling and modernizing 20+ year old legacy codebases. Obsessed with
        building cool stuff with code and some caffine ☕.
      </p>
      <p class="text-muted-foreground text-l pt-4 font-serif">
        Currently working on enterprise Java backends, but I juggle multiple
        stacks when the problem demands it. I also ✍🏻 <Link
          href="/blog"
          class="text-foreground"
          underline
          external>Blog</Link
        > the cool stuff I find worth sharing with the world.
      </p>
      <div class="mt-8 flex flex-col items-center gap-8 md:items-start">
        <div class="flex flex-wrap items-center justify-center gap-3">
          <AnimatedButton
            href={cvPath}
            icon="lucide:download"
            external
            iconPosition="left"
            variant="default"
          >
            Resume
          </AnimatedButton>
          <AnimatedButton
            href="/about"
            icon="lucide:arrow-right"
            iconPosition="right"
            variant="outline"
          >
            Read more
          </AnimatedButton>
        </div>
        <SocialIcons links={SOCIAL_LINKS} />
      </div>
    </div>
  </section>

  <!-- Experience Section -->
  <section>
    <h2 class="mt-12 text-5xl font-bold">
      Experience<span class="text-accent">.</span>
    </h2>
    <p class="text-muted-foreground mb-6 text-2xl">
      Where I've <span
        class="text-foreground decoration-accent font-serif italic underline"
        >Worked</span
      > so far.
    </p>
    <ExperienceTimeline experiences={experiences} />
  </section>

  <!-- Works Section-->
  <section class="mt-12 flex flex-col">
    <h2 class="text-5xl font-bold">
      Works<span class="text-accent">.</span>
    </h2>
    <p class="text-muted-foreground mb-4 text-2xl">
      Stuff, I've <span
        class="text-foreground decoration-accent font-serif italic underline"
        >Built</span
      > recently.
    </p>
    <ul class="flex flex-col gap-y-4">
      {
        projects.map((project) => (
          <li>
            <ProjectCard entry={project} />
          </li>
        ))
      }
    </ul>
    <div class="mt-4 flex justify-center">
      <Link
        href="/projects"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all projects <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>

  <!-- Latest Posts Section -->
  <section class="mt-12 flex flex-col">
    <h2 class="text-5xl font-bold">
      Blog<span class="text-accent">.</span>
    </h2>
    <p class="text-muted-foreground mb-6 text-2xl">
      Catatan Kang<span
        class="text-foreground decoration-accent font-serif italic underline"
        >Sudar</span
      > Blogger.
    </p>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="mt-4 flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
